body {
	background-color: #eeefe6;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
h1 {
	color: #2f2a20;
	font-family: 'Ultra', serif;
	font-size: 36px;
	padding: 0 0 1em;
	text-align: center;
}
.container {
	background-color: #fff;
	border: 4px solid #aca698;
	border-width: 0 4px;
	margin: 0 auto;
	padding: 20px 20px 40px;
	width: 960px;
}
.chart rect {
	fill: steelblue;
	stroke: white;
}

.line {
	fill: white;
}

.axis path,
.axis line {
	fill: transparent;
	stroke: black;
	shape-rendering: crispEdges;
}

.legend, .label {
	font-size: 12px;
}
.legend {
	font-weight: 600;
}
rect {
	stroke-width: 2;
}
.tick {
	font-size: 11px;
}
